body{
    
    margin-left: 160px;
}
label {
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
.section1 {
    background-image: url("./background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    z-index: -1;
    height: 100%;
}

.section1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    color:rgba(0,0,0, 0.7);
  }
  
  .section1 li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    height: 80px;
    text-align: center;
    padding-top: 50px;
         
  }
  
  .section1 li a.active {
    background-color: darkgray;
    color: black;
  }
  
  .section1 li a:hover:not(.active) {
    background-image: url(./background.png);
    color: black;
  }
  .section1 .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    color: transparent;
  }
    .section1 .sidenav a:hover {
        color: red;
    }
    .section1 .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .section1 .row h2 {
    font-family: 'Montserrat', sans-serif;
    }
  
  .section1 .column {
    float: left;
    width: 50%;
    }

.section2 {
    background-image: url("./background2.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    height: 100%;
    margin-top: 3%;
}
.section2 .panel{
    background-color: rgba(0, 0, 0, 0.685);
    z-index:0;
    height: 100%;
    margin-left: 2.6%;
    width: 95%;
}
.section2 ul {
    color: whitesmoke;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}
.section2 label {
    color: whitesmoke;
    text-align: justify;
    font-size: 25px;
}